*{
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: content-box radial-gradient(rgb(140, 20, 220), rgba(142, 57, 221, 0.377));
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(66, 3, 109); 
        border-radius: 5px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #350097; 
      }
}

.app{
@apply bg-gradient-to-t from-purple-400 to-purple-700;
min-height: 100vh;
}

.nav{
    @apply flex justify-between items-center mx-12;
    height: 10vh;

    .logo{
        @apply text-3xl font-extrabold font-mono cursor-pointer hover:text-purple-900;

    }
    &-items{
        @apply flex justify-end w-4/5;
        &--link{
        @apply text-xl mx-8 cursor-pointer;
        }
    }
    @media screen and (max-width:768px) {
        &-items{
            display: none;
        }
    }
    .action{
        &-btn{
            @apply flex items-center justify-center bg-black bg-opacity-80 p-4 rounded-full text-white w-36 h-12 hover:opacity-70 ;
        }
    }
}
.hero{
    height: 80vh;
    .header-font{
        width: 80vw;
        font-size: clamp(3.8rem, 7.5vw, 10rem);
    }
}
.scroll{
    @apply flex justify-center;
    height: 10vh;
    text-align: center;
    margin:0 auto;
    &>p{
        @apply font-semibold rotate-90 text-xl mr-20;
    }
}



